$menus-background: #5b605f;
$primary-color: #4a4a49;
$distinct-color: #ff6600;
$widgets-background: #fffffa;
$info-color: #3498db;
$warning-color: #ffb03b;
$success-color: #468966;
$shopIcon-color: #bd4932;
$secondary-color: #a1a194;