@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@700&family=Open+Sans:wght@300;400;600;700&display=swap');

$primary-font: "Open Sans", sans-serif;
$logo-font: "Charmonman", cursive;
$action-font: Arial, Helvetica, sans-serif;